/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --title-color: #ffc2e6;
  --section-subtitle-color: #353430;
  --section-text-color: #353430;
  --text-link-color: #353430;
  --text-link-shadow-color: #ff8dcb;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --text-logo: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --accent-color: #ff8dcb;
      --accent-color-text: #353430;
      --title-color: #ffc2e6;
      --section-subtitle-color: #353430;
      --section-text-color: #353430;
      --text-link-color: #353430;
      --text-link-shadow-color: #ff8dcb;
      --background-color: #fff1f7;
      --background-image: url(../images/cover-image-light.png);
      --text-logo: none;
  }
}
