/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --accent-color-text: #353430;
  --title-color: #db00ff;
  --section-subtitle-color: #000028;
  --section-text-color: #f1b2ce;
  --text-link-color: #f1b2ce;
  --text-link-shadow-color: #ff0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --text-logo: inline;
}
